#mainBody{
    margin: 5vh 10vw 10vh 10vw;
}
.chart{
    height: 400px; 
    width: 400px; 
    display: inline-block;
}
#chartContainer{
    padding-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.chartTitle{
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}
.inline-block{
    display: inline-block;
}
.sumLine{
    display: flex;
    font-size: 20px !important;
    margin-bottom: 10px;
}
.SumTitle{
    margin: 20vh 0 2vh 0;
    font-size: 1.2rem;
    background-color: rgba(133, 133, 133, 0.575);
    padding: 10px 0 10px 10px;
}
caption{
    background-color: rgba(219, 219, 219, 0.575);
    font-weight: 800;
    color: #4c4c4c;
    padding-left: 10px;
}
button{
    padding: 6px 6px 0px 6px  !important;
    /* background-color: #afafaf !important; */
}
table{
    margin-top: 70px !important;
}
img{
    width: 100%;
}
p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
footer{
    margin-top: 8px !important;
    font-size: 1.2rem;
}
.card-header{
    font-size: 1.2rem;
}
#topTitle{
    font-size: 4.2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 60px;
}
#topText{
    text-align: center;
    font-size: 1.5rem;
    color: #585858;
    margin: 20px 0 50px 0;
}
.footer{
    width: 100%;
    height: 10vh;
    background-color: #4c4c4c;
}
.card{
    margin-bottom: 20px;
}
.btn-primary{
    background-color: #8f8f8f !important;
    border: 0px !important;
}
.btn-primary:hover{
    background-color: #575656 !important;
    /* border: 0px !important; */
}
.material-icons.md-36 { font-size: 28px; margin: 0px 5px 0px 10px; }